@import "~github-markdown-css/github-markdown.css";
@import "~highlight.js/scss/github-gist.scss";

// theme
:root {
  @each $prop, $val in $theme-default {
    --#{$prop}: #{$val};
  }
}

// theme dark
@media (prefers-color-scheme: dark) {
  :root {
    @each $prop, $val in $theme-dark {
      --#{$prop}: #{$val};
    }
  }

  @import "./markdown-dark.scss";
  @import "~highlight.js/scss/agate.scss";
}

.iconfont {
  font-size: inherit;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.plain-button {
  font-size: 28px;
  outline: none;
  border: none;
  background-color: transparent;
  @include var(color, primary-text-color);
  user-select: none;
  cursor: pointer;
  text-decoration: none;

  &.small {
    font-size: 16px;
  }
}

.simple-table {
  border: none;
  border-spacing: 0;

  th,
  td {
    border: none;
    padding: 8px;
  }

  th {
    font-weight: normal;
    text-align: center;
    user-select: none;
  }

  thead {
    @include var(background-color, thead-bg-color);
  }

  tbody {
    tr {
      &:not(:last-child) td {
        border-bottom: solid 1px;
        @include var(border-color, border-color);
      }

      &:hover {
        @include var(background-color, hover-bg-color);
      }

      td:first-child {
        border-left: solid 1px;
        @include var(border-color, border-color);
      }

      td:last-child {
        border-right: solid 1px;
        @include var(border-color, border-color);
      }

      td {
        border-bottom: solid 1px;
        @include var(border-color, border-color);
      }
    }
  }

  .center {
    text-align: center;
  }
}

.form-item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .label {
    user-select: none;
    display: inline-block;
    width: 110px;

    &:after {
      content: ":";
      margin-right: 0.5em;
    }
  }

  input[type="text"].value,
  input[type="password"].value {
    box-sizing: border-box;
    width: 216px;
  }

  input.value,
  select.value {
    @include var(background-color, form-value-bg-color);
    @include var(border, form-value-border);
    @include var(color, primary-text-color);
    font-size: 16px;
    outline: none;
    padding: 6px 8px;

    &:disabled {
      @include var(background-color, form-value-bg-color-disabled);
    }
  }
}

@media screen and (max-width: 386px) {
  .form-item {
    display: block;

    .label {
      display: block;
      margin-bottom: 6px;
    }
  }
}

// animations
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-enter-active {
  animation: fade-in 0.3s ease-in;
}

.fade-leave-active {
  animation: fade-in 0.3s ease-out reverse;
}

@keyframes scale-in {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes text-spacing {
  from {
    letter-spacing: 0;
  }

  to {
    letter-spacing: 1em;
  }
}

@keyframes spinning {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-5-10 20:37:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-flicker-in-glow
 * ----------------------------------------
 */
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
    text-shadow: none;
  }

  10.1% {
    opacity: 1;
    text-shadow: none;
  }

  10.2% {
    opacity: 0;
    text-shadow: none;
  }

  20% {
    opacity: 0;
    text-shadow: none;
  }

  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }

  20.6% {
    opacity: 0;
    text-shadow: none;
  }

  30% {
    opacity: 0;
    text-shadow: none;
  }

  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }

  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }

  30.6% {
    opacity: 0;
    text-shadow: none;
  }

  45% {
    opacity: 0;
    text-shadow: none;
  }

  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }

  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }

  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }

  55.1% {
    opacity: 0;
    text-shadow: none;
  }

  57% {
    opacity: 0;
    text-shadow: none;
  }

  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }

  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }

  60.1% {
    opacity: 0;
    text-shadow: none;
  }

  65% {
    opacity: 0;
    text-shadow: none;
  }

  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }

  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }

  75.1% {
    opacity: 0;
    text-shadow: none;
  }

  77% {
    opacity: 0;
    text-shadow: none;
  }

  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }

  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }

  85.1% {
    opacity: 0;
    text-shadow: none;
  }

  86% {
    opacity: 0;
    text-shadow: none;
  }

  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }

  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}

@keyframes bottom-fade-in {
  from {
    opacity: 0;
    transform: translateY(50%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bottom-fade-enter-active {
  animation: bottom-fade-in 0.3s ease-in;
}

.bottom-fade-leave-active {
  animation: bottom-fade-in 0.3s ease-out reverse;
}

@keyframes scale-fade-in {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.scale-fade-enter-active {
  animation: scale-fade-in 0.3s cubic-bezier(0, 0.01, 0.77, 1.79);
}

.scale-fade-leave-active {
  animation: scale-fade-in 0.3s reverse;
}

@keyframes flip-fade-in {
  from {
    opacity: 0;
    transform: perspective(100px) translateY(-154px) rotateX(20deg);
  }

  to {
    opacity: 1;
  }
}

.flip-fade-enter-active {
  animation: flip-fade-in 0.3s cubic-bezier(0, 0.01, 0.77, 1.79);
}

.flip-fade-leave-active {
  animation: flip-fade-in 0.3s reverse;
}
