.markdown-body {
  @include var(color, primary-text-color);

  h1,
  h2 {
    @include var(border-bottom-color, border-color);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:hover .anchor {
      .octicon-link::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' fill='%23fff' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
      }
    }
  }

  .highlight pre,
  pre {
    @include var(background-color, secondary-bg-color);
  }

  kbd {
    @include var(background-color, secondary-bg-color);
    @include var(color, primary-text-color);
    @include var(border-color, border-color);
  }

  table td,
  table th {
    @include var(background-color, secondary-bg-color);
    @include var(border-color, border-color);
  }

  blockquote {
    @include var(border-left-color, border-color);
  }

  hr {
    @include var(background-color, secondary-bg-color);
  }
}
