$theme-dark: (
  body-bg-color: #303030,
  primary-bg-color: #121212,
  secondary-bg-color: #2b2b2b,
  border-color: #383838,
  primary-text-color: #e1e1e1,
  secondary-text-color: gray,
  link-color: #5d9cff,
  dialog-overlay-bg-color: rgba(53, 53, 53, 0.3),
  dialog-content-shadow: 0 6px 10px rgba(0, 0, 0, 0.8),
  form-value-bg-color: #121212,
  form-value-bg-color-disabled: #555555,
  form-value-border: solid 1px rgba(255, 255, 255, 0.1),
  hover-bg-color: #333333,
  focus-bg-color: #333333,
  select-bg-color: #555555,
  thead-bg-color: #353535,
  btn-bg-color-default: #409eff,
  btn-bg-color-disabled-default: #a0cfff,
  btn-color-default: #fff,
  btn-color-disabled-default: #fff,
  btn-bg-color-info: #909399,
  btn-bg-color-disabled-info: #c8c9cc,
  btn-color-info: #fff,
  btn-color-disabled-info: #fff,
  btn-bg-color-success: #67c23a,
  btn-bg-color-disabled-success: #b3e19d,
  btn-color-success: #fff,
  btn-color-disabled-success: #fff,
  btn-bg-color-warning: #e6a23c,
  btn-bg-color-disabled-warning: #f3d19e,
  btn-color-warning: #fff,
  btn-color-disabled-warning: #fff,
  btn-bg-color-danger: #f56c6c,
  btn-bg-color-disabled-danger: #fab6b6,
  btn-color-danger: #fff,
  btn-color-disabled-danger: #fff,
  progress-bar-color: #666,
  loading-overlay-bg-color: rgba(0, 0, 0, 0.6)
);
