<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="same-origin" />
    <link rel="icon" href="/favicon.png?t=<%= Date.now() %>" />
    <title><%- mode === 'production' ? '{{ (.Options.Get "app.name") }}' : 'Drive' %></title>
    <% if (mode === 'production') { %>
    <script>
      var ___config___ = {
        api: JSON.parse('{{ .Json (.Config.APIPath) }}'),
        appName: JSON.parse('{{ .Json (.Options.Get "app.name") }}'),
        version: JSON.parse('{{ .Json (.Config.Version) }}'),
      }
    </script>
    <% } else { %>
    <script>
      var ___config___ = {
        api: '/api',
        appName: 'Drive',
        version: '',
      }
    </script>
    <% } %> <% if (mode === 'development' && typeof (VITE_DEBUG_API) ===
    'string') { %>
    <script>
      ___config___.api = '<%= VITE_DEBUG_API %>'
    </script>
    <% } %>
  </head>
  <body data-ui="app-canvas">
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
